StudentsConsumer/Connected Services/StudentService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53838/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="navn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="klasseNavn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="navn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindStudentsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllStudentResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="navn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nuværendeNavn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nytNavn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nytKlasseNavn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nytRum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>